/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
	height: 100%;
}

#root {
	height: 100%;
}

.round-icon {
	width: 80px;
	height: 80px;
	background-color: #efefef;
	border-radius: 50%;
}

.player-card {
	width: 100%;
}

.next-player-row {
	padding-top: 14px
}

.player-username {
	font-weight: bold;
	font-size: 1.5em;
}

.v-flex-align-center {
  display: flex;
	align-items: center;
}

.h-flex-align-center {
  display: flex;
	justify-content: center;
}

.top-bar {
	flex-direction: column;
	align-items: center;
}

.timer-bar {
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.timer-bar > p {
	margin: 0 10px;
}

.bolded {
	font-weight: bold;
}

.strong {
	font-weight: bold;
}

.game-center-container {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.unit {
	cursor: pointer;
}

.unit--selected {
	background-color: aquamarine;
}

.with-border {
	border: 1px solid black;
}

.board {
	margin: 10px;
}

.board-cell {
	padding: 5px;
	cursor: pointer;
}

.game-panel-row {
	margin: 0;
	height: 100%;
}

.caption {
	text-align: center;
	font-size: 32px;
  font-weight: bold;
	margin-bottom: 8px;
}

.unit-caption {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.unit-stat {
	display: flex;
	margin: 0;
	padding: 2px 0 2px 0;
	justify-content: space-between;
	font-size: 12px;
}

.unit-stat-text {
	font-weight: bold;
}

.store-unit-buy-row {
	display: flex;
	justify-content: space-around;
}

.v-spacer-sm {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
}

.v-spacer-sm:after {
	content: "";
}

.unit-container {
	padding-bottom: 5px;
	padding-top: 5px;
  border-bottom: 1px solid #efefef;
}

.unit-avatar {
	width: 90px;
	height: 90px;
	border-radius: 300px;
	border: 10px solid transparent;
	box-sizing:border-box;
	background-image: conic-gradient(red 0%, red 20%, orange 35%, brown 55%, blue 80%, red 100%), conic-gradient(red 0turn, red 0.7turn, gray 0.7turn, gray 1turn);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: inset 0 0 20px #000;
}

.sidebar {
	height: 100%;
	overflow: auto;
}

.info-toast {
	font-size: 2rem;
	z-index: 1000;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
